<form method="POST" action="/articles" id="new_article">
	  <h2>New Article Title:</h2> 
	  <input type="text" id="a_title" name="title">
	  <p>New Article Content:</p>
	  <p><input type="text" id="a_content" name="content"></p>
	  <input type="submit" name="submit" value="submit">
</form>